<div class="container">

{{!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <img src="../public/assets/img/burger.jpeg" alt="person holding burgers">
  </div>
  <div class="col-md-4"></div>
</div> --}}

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Eat-Da-Burger!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Burger List</h2>
        </div>
        
          {{#each burgers}}
          {{#unless devoured}}
          <ul class="list-grou list-group-flush"></ul>
          <div class="row">
            <div class="col-md-8">
              <li class="list-group-item">{{id}}: {{burger_name}} </lo>
            </div>
            <div class="col-md-4">
              <button class="dev-button" data-id="{{id}}" data-ch-dev="{{devoured}}">
                Devour It!</button>
            </div>
          </div>
</ul>
          {{/unless}}
          {{/each}}
        
      </div>
    </div>

    <div class="col-md-6">

      <div class="card">
        <div class="card-header">
      <h2 class="text-center">Devoured Burgers</h2>
      </div>
      {{#each burgers}}
      {{#if devoured}}
      <ul class="list-group list-group-flush">
      <li class="list-group-item">{{id}}: {{burger_name}}</p>
      </ul>
      {{/if}}
      {{/each}}

</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-offset-6 centered">
      <p></p>
  <div class="card">
    <div class="card-header">
    <h2>Add a Burger</h2>
    </div>
    <div class="card-body">
    <form class="create-form">

      <div class="form-group ">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
        <button type="submit">Add Burger</button>
      </div>
      
    </form>
    </div>
  </div>
  </div>
  <div class="col-md-3"></div>
  </div>

</div>